@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --body-color: #E4E9F7;
  --primary-color: #695CFE;
  /* --primary-color: #8576FF; mine */
  /* --primary-color-dark: #484554; mine */
  --primary-color-light: #F6F5FF;
  /* --primary-color-select: #ADA9BB; mine */
  /* --primary-color-select-200: 6A6676; mine */
  /* --select-color: #FCF7FF; mine */
  --sidebar-color: #FFF;
  --text-color: #707070;
  --toggle-color: #DDD;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  background: var(--body-color);
  height: 100vh;
  transition: var(--tran-04);
  display: flex;
}

body.dark {
  --body-color: #18191A;
  --primary-color: #3A3B3C;
  --primary-color-light: #3A3B3C;
  --sidebar-color: #242526;
  --text-color: #CCC;
  --toggle-color: #FFF;
}

/* ====== Reusable CSS ====== */
.sidebar .text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  transition: var(--tran-03);
  white-space: nowrap;
}

nav.collapse header .toggle {
  transform: translateY(-50%) rotate(180deg);
}

.sidebar .logo-image {
  display: flex;
  align-items: center;
  min-width: 60px;
}

.logo-small {
  width: 50px;
}

.display-none {
  display: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====== SideBar ====== */
.sidebar {
  background: var(--sidebar-color);
  height: 100%;
  width: 250px;
  /* position: fixed; */
  left: 0;
  top: 0;
  padding: 8px;
  transition: var(--tran-05);
}

.sidebar.collapse {
  width: 88px;
}

.sidebar.collapse .text,
.sidebar.collapse .menu-bar .moon-sun {
  display: none;
}

.sidebar.collapse .notification-count {
  font-size: 10px;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 48px;
  top: 325px;
}

.sidebar header {
  position: relative;
  padding: 8px;
}

.sidebar .image-text .main-logo {
  width: 120px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  background: var(--primary-color);
  border-radius: 50%;
  font-size: 22px;
  height: 25px;
  width: 25px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--tran-03);
}

.sidebar .menu-bar {
  height: 100%;
  margin-top: 16px;
}

.sidebar li {
  display: flex;
  align-items: center;
  height: 50px;
  list-style: none;
  margin-top: 10px;
}

.menu li:hover {
  background: #FCF7FF;
  & .icon {
    filter: invert(49%) sepia(37%) saturate(5361%) hue-rotate(223deg) brightness(104%) contrast(102%);
  }
  & .text {
    color: #8576FF;
  }
}

.sidebar li .icon {
  width: 22px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  margin: 8px;
}

.sidebar li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.notification-count {
  background: red;
  border-radius: 50%;
  color: #FFF;
  height: 34px;
  width: 34px;
  position: absolute;
  left: 180px;
  transition: var(--tran-05);
}

.menu-bar .mode {
  background-color: var(--primary-color-light);
  border-radius: 12px;
}

.menu-bar .mode .moon-sun {
  display: flex;
  align-items: center;
  height: 50px;
  width: 38px;
}

.menu-bar .mode img {
  position: absolute;
  transition: var(--tran-03);
}

img.mode-icon {
  display: none;
}

.menu-bar .mode .toggle-switch {
  cursor: pointer;
  min-width: 60px;
  position: absolute;
  left: 154px;
  transition: var(--tran-05);
}

.sidebar.collapse .menu-bar .mode .toggle-switch {
  left: 14px;
}

.toggle-switch .switch {
  background: var(--toggle-color);
  border-radius: 25px;
  height: 22px;
  width: 44px;
  position: relative;
}

.switch::before {
  background: var(--sidebar-color);
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

.home {
  background: var(--body-color);
  height: 100vh;
  padding: 16px;
  transition: var(--tran-05);
  width: 100%;
}

.home .text {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
  padding: 8px 40px;
}
